@use '../variables' as *;

body {
    background-color: $base-background-color;
    color: $base-text-color;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    text-align: $base-text-align;
}
