@use '../variables' as *;
@use '../mixins' as *;

pre,
code,
kbd,
samp {
    font-family: $base-font-family-monospace;
}

pre {
    margin-bottom: $base-pre-margin-bottom;
}

kbd {
    padding: $base-kbd-padding;
    border-radius: $base-kbd-border-radius;
    font-size: $base-kbd-font-size;

    @include theme-style using ($theme) {
        background-color: get-theme-value($base-kbd-background-color, $theme);
        color: get-theme-value($base-kbd-color, $theme);
    }
}

code {
    font-size: $base-code-font-size;

    @include theme-style using ($theme) {
        color: get-theme-value($base-code-color, $theme);
    }
}
