@use '../variables' as *;
@use '../mixins' as *;

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    // stylelint-disable-next-line order/order
    @include theme-style using ($theme) {
        color: get-theme-value($base-link-color, $theme);

        &:hover {
            color: get-theme-value($base-link-hover-color, $theme);
        }
    }
}
