////
/// Variables globales de base
////

/// Espacement de base entre les éléments
/// @type Number
$base-spacing: 1rem !default;

/// Couleur de fond de base
/// @type Color
$base-background-color: #fff !default;

/// Taille de base pour les polices
/// @type Number
$base-font-size: 14px !default;

/// Couleur de base pour les textes
/// @type Color
$base-text-color: #333 !default;

/// Graisse de base pour les textes
/// @type Number
$base-font-weight: 400 !default;

/// Line-height de base
/// @type Number
$base-line-height: 1.5 !default;

/// Alignement de base pour les textes
/// @type String
$base-text-align: left !default;

/// Police de base
/// @type List
$base-font-family:
    system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji' !default;

/// Police "monospaced" de base
/// @type List
$base-font-family-monospace:
    'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace !default;

//
// - Headings
//

/// Graisse de base pour les titres
/// @type Number
$base-heading-font-weight: 500 !default;

/// Line-height de base pour les titres
/// @type Number
$base-heading-line-height: 1.2 !default;

/// Marge basse de base pour les titres
/// @type Number
$base-heading-margin-bottom: ($base-spacing / 2) !default;

/// Taille de base du texte pour les titres <h1>
/// @type Number
$base-heading-1-font-size: $base-font-size * 2.5 !default;

/// Taille de base du texte pour les titres <h2>
/// @type Number
$base-heading-2-font-size: $base-font-size * 2 !default;

/// Taille de base du texte pour les titres <h3>
/// @type Number
$base-heading-3-font-size: $base-font-size * 1.75 !default;

/// Taille de base du texte pour les titres <h4>
/// @type Number
$base-heading-4-font-size: $base-font-size * 1.5 !default;

/// Taille de base du texte pour les titres <h5>
/// @type Number
$base-heading-5-font-size: $base-font-size * 1.25 !default;

/// Taille de base du texte pour les titres <h6>
/// @type Number
$base-heading-6-font-size: $base-font-size !default;

//
// - Legends
//

/// Taille de base du texte pour les <legend>
/// @type Number
$base-legend-font-size: 1.5rem !default;

/// Marge basse de base pour les <legend>
/// @type Number
$base-legend-margin-bottom: ($base-spacing / 2) !default;

//
// - Code
//

/// Marge basse de base pour les <pre>
/// @type Number
$base-pre-margin-bottom: $base-spacing !default;

/// Couleur de base pour les <code>
/// @type Color
$base-code-color: #d63384 !default;

/// Taille de base du texte pour les <code>
/// @type Number
$base-code-font-size: .875em !default;

/// Padding de base pour les <kbd>
/// @type Number
$base-kbd-padding: .2rem .4rem !default;

/// Border-radius de base pour les <kbd>
/// @type Number
$base-kbd-border-radius: .2rem !default;

/// Couleur de fond de base pour les <kbd>
/// @type Color
$base-kbd-background-color: #212529 !default;

/// Couleur de base pour les <kbd>
/// @type Color
$base-kbd-color: #fff !default;

/// Taille de base du texte pour les <kbd>
/// @type Number
$base-kbd-font-size: $base-code-font-size !default;

//
// - Mark
//

/// Padding de base pour les <mark>
/// @type Number
$base-mark-padding: .2em !default;

/// Couleur de fond de base pour les <mark>
/// @type Color
$base-mark-background-color: #fcf8e3 !default;

//
// - Figure
//

/// Marge basse de base pour les <figure>
/// @type Number
$base-figure-margin-bottom: $base-spacing !default;

//
// - Description List
//

/// Marge basse de base pour les <dl>
/// @type Number
$base-description-list-margin-bottom: $base-spacing !default;

/// Marge basse de base pour les éléments de <dl>
/// @type Number
$base-description-list-item-margin-bottom: ($base-spacing / 2) !default;

//
// - Paragraph
//

/// Marge basse de base pour les <p>
/// @type Number
$base-paragraph-margin-bottom: $base-spacing !default;

/// Marge basse de base pour les <blockquote>
/// @type Number
$base-blockquote-margin-bottom: $base-spacing !default;

//
// - List
//

/// Marge basse de base pour les listes (<ol> et <ul>)
/// @type Number
$base-list-margin-bottom: $base-spacing !default;

//
// - Separator
//

/// Marge verticale de base pour les séparateurs (<hr>)
/// @type Number
$base-separator-vertical-margin: $base-spacing !default;

//
// - Address
//

/// Marge basse de base pour les <address>
/// @type Number
$base-address-margin-bottom: $base-spacing !default;

//
// - Form
//

/// Couleur de fond de base pour les champs de formulaire
/// @type Color
$base-input-background: #fff !default;

//
// - Links
//

/// Couleur de base pour les liens
/// @type Color
$base-link-color: #3e82c6 !default;

/// Couleur de base des liens lors du survol
/// @type Color
$base-link-hover-color: darken($base-link-color, 15%) !default;
